h2 {
    color: brown;
    font-size: 30px;
    text-align: center;
}

header {
    color: red;
    background-color: lightgray;
    text-align: center;
    font-family: inter;
    min-height: 500px;

    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-image: url(../assets/images/Main.png);
    background-size: 100% 100%;

    padding: 40px;
    padding-left: 100px;

    position: relative;
    overflow: hidden;

    background-position: 55% center;
}


header h1 {
    margin-top: 0;
}


#products {
    scroll-margin-top: 80px;
}


.image-box img {
    width: min(550px, 90vw);
    height: auto;

    display: block;
    position: relative;

    top: 50px;
    right: 40px;
}


.image-box:hover {
    filter: brightness(1.1) drop-shadow(0 0 15px #ffcc00);
}


/* -------------------- */
/* Responsive Header    */
/* -------------------- */

@media (max-width: 768px) {

    .hero-content{
        position: relative;
        top: 20px;
    }



    header {
        padding: 30px 20px;
        padding-left: 20px;

        min-height: 450px;
        text-align: center;
    }

    .image-box {
        display: flex;
        justify-content: center;
    }


    .image-box img {
        width: min(500px, 90vw);
        height: auto;
        top: 30px;
        right: 0;
    }


    header h1 {
        font-size: 70px;
        text-align: center;
    }


    .navbar {
        gap: 10px;
        padding: 10px;
    }

    .navbar a {
        font-size: 10px;
        margin: 5px;
    }
    .navbar img{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0px;
    }

    header h1 p {
        text-align: center;
        white-space: nowrap;
        position: relative;
        right: 50px;
    }

    .buttons {
        display: flex;
        width: 300px;
        flex-direction: row;
    }
    
}


@media (max-width: 480px) {

    header {
        padding: 25px 15px;
        padding-left: 15px;

        min-height: 400px;
    }


    .image-box img {
        width: 90vw;
        height: auto;

        top: 20px;
        right: 0;
    }


    h2 {
        font-size: 24px;
    }


    header h1 {
        font-size: 50px;
        text-align: center;
    }

    .hero-description {
        font-size: 12px;
        white-space: nowrap;
    }


}